<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CreatorAI</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleName</key>
	<string>CreatorAI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>This helps us understand how you found CreatorAI and improve your experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>CreatorAI needs camera access to record videos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>CreatorAI needs microphone access for recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>CreatorAI needs permission to save videos to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CreatorAI needs access to your photo library to save and share videos.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>creatorai</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Auth callback</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.918788275830-bqst1adjdeie2jls8f2q2ql0pgdeuunc</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
